<%= render "shared/second-header" %>
<br>
<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
  </div>
</div>
<br>
<%= render "shared/third-footer" %>

