

.edit {
  text-decoration: none;
  color: #ffffbb;
  font-size: 24px;
  margin-left: 3vw;
}

.return-top {
  text-decoration: none;
  color: #ffffbb;
  font-size: 24px;
  margin-left: 3vw;
}
.return-top:hover{
  background-color: aquamarine;
  color: #2c7cff;
  border-radius: 100px;
}