* {
  box-sizing: border-box;
}


.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color:#ffffbb;
  display: flex;
  align-items: center;
  justify-content: center;
}
