<footer class='second-footer'>
  <div class='nav'>
    <ul class='lists-left'>
      </li>
      </li> 
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? && current_user.nickname == @nickname %>
        <li><%= link_to '編集', edit_user_path(current_user), class: "edit" %></li>
      <% end %>
        <li><%= link_to "トップページに戻る", root_path, class: "return-top" %></li>
    </ul>
  </div>
</footer>