<footer class='second-footer'>
  <div class='nav'>
    <ul class='lists-left'>
      </li>
      </li> 
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <li><%= link_to "チャットページに戻る", :back, class: "return-chat" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</footer>