<footer class='third-footer'>
  <div class='nav'>
    <ul class='lists-left'>
      </li>
      </li> 
    </ul>
    <ul class='lists-right'>
        <li><%= link_to "トップページに戻る", root_path, class: "return-top" %></li>
    </ul>
  </div>
</footer>