<%= render "shared/header" %>
<br>
<h1>Limited</h1>
<br>

<div class='title-contents'>
    <h2 class='service-title'>
      「言葉選び」のコストを削減するチャットアプリ
    </h2>
    <p class='service-explain'>
      限られた言葉しか選べない
    </p>
    <p class='service-explain'>
      チャットアプリです
    </p>
</div>
<br>

<% if user_signed_in? %>
  <div class='room-url'>
    <%= link_to "チャットルームへ", rooms_path, class: 'chat-room-btn' %>
  </div>
  <br>
<% end %>
<br>


<% if user_signed_in? %>
  <%= link_to(new_room_path, class: 'room-btn') do %>
    <span class='room-btn-text'>ルーム作成</span>
  <% end %>
<% end %>



<%= render "shared/footer" %>