<%= render "shared/second-header" %>
<br>
<div class="wrapper">
  <div class="side-bar">
    <%= render "messages/side_bar" %>
  </div>
</div>
<br>
<%= link_to(new_room_path, class: 'room-btn') do %>
  <span class='room-btn-text'>ルーム作成</span>
<% end %>
<%= render "shared/third-footer" %>
