/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}
@media (max-width: 599px) {
  * {
    box-sizing: border-box;
  }

  .title{
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
  }
  

  .top-page-header {
    background-image: image-url('IMG_5024.jpeg');
    width: 210vw;
    padding: 10vh 15vw;
    display: flex;
    flex-direction: column;
    background-color:#ffffbb;
    height: 30vh;
  }
  
  .top-page-footer {
    background-image: image-url('IMG_5024.jpeg');
    width: 210vw;
    padding: 10vh 15vw;
    display: flex;
    flex-direction: column;
    background-color:#ffffbb;
    height: 30vh;
  }
  
  .second-header {
    background-image: image-url('IMG_5024.jpeg');
    width: 210vw;
    min-width: 800px;
    height: 130px;
    background-color:#ffffbb;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .second-footer {
    background-image: image-url('IMG_5024.jpeg');
    width: 210vw;
    padding: 10vh 15vw;
    display: flex;
    flex-direction: column;
    background-color:#ffffbb;
    height: 30vh;
  }
  
  .third-footer {
    background-image: image-url('IMG_5024.jpeg');
    width: 210vw;
    padding: 10vh 15vw;
    display: flex;
    flex-direction: column;
    background-color:#ffffbb;
    height: 30vh;
  }

}