// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
}

.title-contents {
  width: 100vw;
  background-image: image-url('IMG_5024.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height:70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}
.service-title{
  color:#ffffbb;
  font-size: 6vh;
}
.service-explain {
  font-size: 3.5vh;
  line-height: 40px;
  color:#ffffbb;
}

.room-url{
  display: flex;
  justify-content: center;
}

.top-page-header {
  background-image: image-url('IMG_5024.jpeg');
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  background-color:#ffffbb;
}

.top-page-footer {
  background-image: image-url('IMG_5024.jpeg');
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  background-color:#ffffbb;
  height: 10vh;
}

.second-header {
  background-image: image-url('IMG_5024.jpeg');
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color:#ffffbb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-footer {
  background-image: image-url('IMG_5024.jpeg');
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  background-color:#ffffbb;
  height: 20vh;
}

.third-footer {
  background-image: image-url('IMG_5024.jpeg');
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  background-color:#ffffbb;
  height: 10vh;
}


.side-bar {
  width: 300px;
  height: 100vh;
}
.side-bar-header {
  background-image: image-url('IMG_5024.jpeg');
  height: 100px;
  padding: 0 20px;
  background-color: #ffffbb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rooms {
  background-image: image-url('IMG_5024.jpeg');
  background-color: #ffff99;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.users{
  min-height: calc(100vh - 161px);
  overflow: scroll;
}

// .home-table{
//   border-collapse: collapse;
//   margin-bottom: 32px;
//   width: 50vw;
// }

// .home-table__col2{
//   text-align: center;
//   border: 1px solid #2c7cff;
//   border-collapse: collapse;
//   width: 70%;
//   padding: 16px 8px;
// }

// .home-user {
//   text-decoration: none;
//   color: #2c7cff;
// }

.search-btn{
  width:20vw;
  height:40px;
  background-color: #ffffbb;
  color: #2c7cff;
  border: 1px solid #2c7cff;
}

.theme{
  font-size: 30px;
  color:black;
  margin-bottom: 20px;
}

.go-answer{
  text-decoration: none;
  line-height: 48px;
  background-color: #ffffbb;
  border: 1px solid #ffffbb;
  color: #2c7cff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 40px;
}

